{% extends 'base.html'%}

{% load static %}

{% block content %}
    <div class="content">
        <div class="blockAbout">
            <div class="imgBlockAbout">
                <img src="{% static 'media/mainPhoto.jpg' %} " class="mainPage">
            </div>
            <div class="textBlock">
                <div class="headerTextBlock">
                    Dota shop
                </div>
                <div class="mainTextBlock">
                    Тут ти можеш купити будь-який скін, який можна передати, також у нас багато різного товару і багато людей, які продають і купують товар. Це один з кращих сервісів для dota де ти можеш купити сет на свого улюбленого персонажа. Будь-яка шмотка (immortal, arcana, common, uncommon, mythical, legendary, rare) може потрапити до вас в інвентар, просто замовте її та вкажіть трейд посилання.
                </div>
            </div>
        </div>
    </div>
{% endblock %}