{% load mathfilters %}
<table class="tableOrderContent">
    <thead>
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for row in cart.cart %}
        <tr>
            <td>
                {{ row.product }}
            </td> 
            <td>{{ row.quantity }} шт.</td>
            <td>{{ row.product.price }} грн.</td>
            <td>
                <div class="btnDeleteOrder">
                    <a href="{% url 'delete_from_cart' pk=row.product.id %}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td><b>Итого:</b></td>
        <td></td>
        <td>{{ cart.total }} грн.</td>
    </tr>
    </tbody>
</table>