{% extends "base.html" %}


{% block content %}
    <div class="content">
        <div class="orderConteiner">
            <div class="tableOrder">
                {% include 'order/blocks/_cart.html' %}
            </div>
            <div class="otherContent">
                <div class="createOrderBtn">
                    <a href="{% url 'create_order' %}" class="createOrderBtnContent">Оформити замовлення</a>
                </div>
                <div class="backToSaleBtn">
                    <a href="{% url 'shop' %}" class="backToSaleBtnContent">Продовжити покупки</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

