{% extends "base.html" %}


{% block content %}

<div class="row my-2 gap-3">
    {% comment %} {% include 'catalog/blocks/_list_category.html' %} {% endcomment %}

    <div class="col-8 bg-body-tertiary rounded-3 p-4">

        <h3 class = "mb-4">Кошик</h3>

        {% include 'order/blocks/_cart.html' %}
        
    </div>
    <div class="col bg-body-tertiary rounded-3 p-4">
        <h3 class = "mb-4">Оформлення замовлення</h3>
        <div class="col-12">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ form.data.first_name }}" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required value="{{ form.data.last_name }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required value="{{ form.data.email }}">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон</label>
                    <input type="text" class="form-control" id="phone" name="phone" required value="{{ form.data.phone }}">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Адрес</label>
                    <textarea name="address" id="address" class="form-control" rows="3">{{ form.data.address }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Комментарий</label>
                    <textarea name="comments" id="comments" class="form-control" rows="3">{{ form.data.comment }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Оформить заказ</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

